.tab-item {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  padding-bottom: 0px;
}

.active-tab {
  color: #fec653;
  border-bottom: 1px solid #fec653;
}
.tab-btn {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
